<?xml version="1.0" encoding="utf-8"?><!--
  ~ ***********************************************************************************************************************
  ~ Copyright (c) 2016 Furkan Tazegüllü - All Right Reserved.
  ~
  ~ Project             : Weather
  ~ Created on          : 21.07.2016 11:11
  ~ Author              : Furkan Tazegüllü
  ~ Author E-Mail       : furkan.tazegll@gmail.com
  ~ Module              : C:/Project/Mobile/Weather/app/src/main/AndroidManifest.xml
  ~ File Name           : AndroidManifest.xml
  ~ Last Modified User  : Furkan
  ~ Last Modified Date  : 21.07.2016 11:11
  ~ ***********************************************************************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.furkantazegullu.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WeatherTheme"
        tools:replace="android:icon">

        <activity
            android:name=".ui.ActivityMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API_KEY GOES HERE" />
    </application>

</manifest>